@tailwind base;
@tailwind components;
@tailwind utilities;
/* /* shadcn 기본 테마용 CSS 변수 */
:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
  --primary: 88 28 135;
  --primary-foreground: 255 255 255;
  --border: 214 214 214;
  /* 필요하면 더 추가… */
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}



body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

